src/Northis.BattleRoostersOnline.Client/Connected Services/GameServer/GameServicesProvider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GameServicesProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IAuthenticateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_IEditService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IBattleService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.88.99.167:8080/Northis.BattleRoostersOnline?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.88.99.167:8080/Northis.BattleRoostersOnline?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.88.99.167:8080/Northis.BattleRoostersOnline?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Northis.BattleRoostersOnline.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticateService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetLoginStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginStatus" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetLoginStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetNewGlobalStatistics_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetNewGlobalStatistics" />
  </wsdl:message>
  <wsdl:message name="IAuthenticateService_GetServerStopMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetServerStopMessage" />
  </wsdl:message>
  <wsdl:message name="IEditService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IEditService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IEditService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IEditService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="IEditService_GetUserRoosters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoosters" />
  </wsdl:message>
  <wsdl:message name="IEditService_GetUserRoosters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserRoostersResponse" />
  </wsdl:message>
  <wsdl:message name="IBattleService_FindMatchAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:FindMatchAsync" />
  </wsdl:message>
  <wsdl:message name="IBattleService_CancelFinding_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelFinding" />
  </wsdl:message>
  <wsdl:message name="IBattleService_CancelFinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelFindingResponse" />
  </wsdl:message>
  <wsdl:message name="IBattleService_StartBattleAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:StartBattleAsync" />
  </wsdl:message>
  <wsdl:message name="IBattleService_GiveUpAsync_InputMessage">
    <wsdl:part name="parameters" element="tns:GiveUpAsync" />
  </wsdl:message>
  <wsdl:message name="IBattleService_GetBattleStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBattleStatus" />
  </wsdl:message>
  <wsdl:message name="IBattleService_GetBattleStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBattleStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBattleService_GetRoosterStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetRoosterStatus" />
  </wsdl:message>
  <wsdl:message name="IBattleService_GetBattleMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetBattleMessage" />
  </wsdl:message>
  <wsdl:message name="IBattleService_GetStartSign_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetStartSign" />
  </wsdl:message>
  <wsdl:message name="IBattleService_FindedMatch_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FindedMatch" />
  </wsdl:message>
  <wsdl:message name="IBattleService_GetEndSign_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetEndSign" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IAuthenticateService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/LogIn" message="tns:IAuthenticateService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/LogInResponse" message="tns:IAuthenticateService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/Register" message="tns:IAuthenticateService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/RegisterResponse" message="tns:IAuthenticateService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/LogOut" message="tns:IAuthenticateService_LogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/LogOutResponse" message="tns:IAuthenticateService_LogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetLoginStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticateService/GetLoginStatus" message="tns:IAuthenticateService_GetLoginStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/GetLoginStatusResponse" message="tns:IAuthenticateService_GetLoginStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetNewGlobalStatistics">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/GetNewGlobalStatistics" message="tns:IAuthenticateService_GetNewGlobalStatistics_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetServerStopMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticateService/GetServerStopMessage" message="tns:IAuthenticateService_GetServerStopMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IEditService">
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/Edit" message="tns:IEditService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/EditResponse" message="tns:IEditService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/Add" message="tns:IEditService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/AddResponse" message="tns:IEditService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/Remove" message="tns:IEditService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/RemoveResponse" message="tns:IEditService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserRoosters">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditService/GetUserRoosters" message="tns:IEditService_GetUserRoosters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditService/GetUserRoostersResponse" message="tns:IEditService_GetUserRoosters_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType msc:usingSession="true" name="IBattleService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindMatchAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleService/FindMatchAsync" message="tns:IBattleService_FindMatchAsync_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="CancelFinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleService/CancelFinding" message="tns:IBattleService_CancelFinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleService/CancelFindingResponse" message="tns:IBattleService_CancelFinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartBattleAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleService/StartBattleAsync" message="tns:IBattleService_StartBattleAsync_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="GiveUpAsync">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleService/GiveUpAsync" message="tns:IBattleService_GiveUpAsync_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetBattleStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBattleService/GetBattleStatus" message="tns:IBattleService_GetBattleStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleService/GetBattleStatusResponse" message="tns:IBattleService_GetBattleStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRoosterStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleService/GetRoosterStatus" message="tns:IBattleService_GetRoosterStatus_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetBattleMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleService/GetBattleMessage" message="tns:IBattleService_GetBattleMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetStartSign">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleService/GetStartSign" message="tns:IBattleService_GetStartSign_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FindedMatch">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleService/FindedMatch" message="tns:IBattleService_FindedMatch_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetEndSign">
      <wsdl:output wsaw:Action="http://tempuri.org/IBattleService/GetEndSign" message="tns:IBattleService_GetEndSign_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IAuthenticateService" type="tns:IAuthenticateService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IAuthenticateService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticateService/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticateService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticateService/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginStatus">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticateService/GetLoginStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewGlobalStatistics">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticateService/GetNewGlobalStatistics" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerStopMessage">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticateService/GetServerStopMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_IEditService" type="tns:IEditService">
    <wsp:PolicyReference URI="#WSHttpBinding_IEditService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Edit">
      <soap12:operation soapAction="http://tempuri.org/IEditService/Edit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/IEditService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="http://tempuri.org/IEditService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserRoosters">
      <soap12:operation soapAction="http://tempuri.org/IEditService/GetUserRoosters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IBattleService" type="tns:IBattleService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IBattleService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindMatchAsync">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/FindMatchAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CancelFinding">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/CancelFinding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartBattleAsync">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/StartBattleAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GiveUpAsync">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/GiveUpAsync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetBattleStatus">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/GetBattleStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoosterStatus">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/GetRoosterStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBattleMessage">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/GetBattleMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStartSign">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/GetStartSign" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindedMatch">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/FindedMatch" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEndSign">
      <soap12:operation soapAction="http://tempuri.org/IBattleService/GetEndSign" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameServicesProvider">
    <wsdl:port name="WSDualHttpBinding_IAuthenticateService" binding="tns:WSDualHttpBinding_IAuthenticateService">
      <soap12:address location="http://10.88.99.167:8080/Northis.BattleRoostersOnline/AuthenticationService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.88.99.167:8080/Northis.BattleRoostersOnline/AuthenticationService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_IEditService" binding="tns:WSHttpBinding_IEditService">
      <soap12:address location="http://10.88.99.167:8080/Northis.BattleRoostersOnline/EditService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.88.99.167:8080/Northis.BattleRoostersOnline/EditService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IBattleService" binding="tns:WSDualHttpBinding_IBattleService">
      <soap12:address location="http://10.88.99.167:8080/Northis.BattleRoostersOnline/BattleService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.88.99.167:8080/Northis.BattleRoostersOnline/BattleService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>