Northis.RoosterBattle/Connected Services/GameServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
	<xs:element name="LogIn">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogInResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="LogInResult" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Register">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegisterResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="RegisterResult" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogOut">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LogOutResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="LogOutResult" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetLoginStatus">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetLoginStatusResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0"
				            name="GetLoginStatusResult" type="q1:AuthenticateStatus" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Edit">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="roosterID" type="xs:int" />
				<xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="rooster"
				            nillable="true" type="q2:RoosterDto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EditResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="Add">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="rooster"
				            nillable="true" type="q3:RoosterDto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="Remove">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="roosterID" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RemoveResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetUserRoosters">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetUserRoostersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0"
				            name="GetUserRoostersResult" nillable="true" type="q4:ArrayOfRoosterDto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindMatch">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="rooster"
				            nillable="true" type="q5:RoosterDto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindMatchResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="CancelFinding">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CancelFindingResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="CancelFindingResult" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StartBattle">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="matchToken" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StartBattleResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="Beak">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="matchToken" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BeakResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="Bite">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="matchToken" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BiteResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="Pull">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="matchToken" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PullResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GiveUp">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
				<xs:element minOccurs="0" name="matchToken" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GiveUpResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRoosterStatus">
		<xs:complexType>
			<xs:sequence>
				<xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="yourRooster"
				            nillable="true" type="q6:RoosterDto" />
				<xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0"
				            name="enemyRooster" nillable="true" type="q7:RoosterDto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetRoosterStatusResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetBattleMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetBattleMessageResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetStartSign">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetStartSignResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="FindedMatch">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FindedMatchResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetEndSign">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
	<xs:element name="GetEndSignResponse">
		<xs:complexType>
			<xs:sequence />
		</xs:complexType>
	</xs:element>
</xs:schema>